<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css" />

<script type="text/javascript">
// <![CDATA[
<!-- IF S_USER_PM_POPUP -->
	if ({S_NEW_PM})
	{
		popup('{UA_POPUP_PM}', 400, 225, '_phpbbprivmsg');
	}
<!-- ENDIF -->

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';

	if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
	{
		if (base_url.indexOf('?') == -1)
		{
			document.location.href = base_url + '?start=' + ((page - 1) * per_page);
		}
		else
		{
			document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
		}
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');
	
	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

<!-- IF ._file -->

	/**
	* Play quicktime file by determining it's width/height
	* from the displayed rectangle area
	*
	* Only defined if there is a file block present.
	*/
	function play_qt_file(obj)
	{
		var rectangle = obj.GetRectangle();

		if (rectangle)
		{
			rectangle = rectangle.split(',')
			var x1 = parseInt(rectangle[0]);
			var x2 = parseInt(rectangle[2]);
			var y1 = parseInt(rectangle[1]);
			var y2 = parseInt(rectangle[3]);

			var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
			var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
		}
		else
		{
			var width = 200;
			var height = 0;
		}

		obj.width = width;
		obj.height = height + 16;

		obj.SetControllerVisible(true);

		obj.Play();
	}
<!-- ENDIF -->

// ]]>
</script>
</head>
<body class="{S_CONTENT_DIRECTION}">

<a name="top"></a>

<div id="wrapheader">
	<!--
	<div id="logodesc">
 
 -->


<table class="maintable" width="700" cellspacing="0" cellpadding="0" border="0" align="left">
        <tr>
          <td class="bodyline"><table width="823" height="152" border="0" align="center" cellpadding="0" cellspacing="0" id="id01__t_bl_zat">
        <tr>
                <td rowspan="5">
                        <img src="templates/softair/images/header_01.jpg" width="9" height="152" alt=""></td>
                <td colspan="2">
                        <img src="templates/softair/images/header_02.jpg" width="331" height="7" alt=""></td>
                <td colspan="2">
                        <img src="templates/softair/images/header_03.jpg" width="468" height="7" alt=""></td>
                <td rowspan="5">
                        <img src="templates/softair/images/header_04.jpg" width="14" height="152" alt=""></td>
                <td>
                        <img src="templates/softair/images/blank.gif" width="1" height="7" alt=""></td>
        </tr>
        <tr>
                <td rowspan="3">
                        <a href="../"><img src="templates/softair/images/header_05.jpg" alt="" width="109" height="129" border="0"></a></td>
                <td rowspan="2">
                        <img src="templates/softair/images/header_06.jpg" alt="" width="222" height="99" border="0"></td>
                <td colspan="2" background="templates/softair/images/header_07.jpg"></td>
                <td>
                        <img src="templates/softair/images/blank.gif" width="1" height="60" alt=""></td>
        </tr>
        <tr>
                <td rowspan="2" valign="bottom" background="templates/softair/images/header_08.jpg"><div align="right"><span class="header_sitename"><i>{SITENAME}</i></span><i><br />
                      <span class="header_sitename">{SITE_DESCRIPTION}</span></i></div>                       </td>
                <td rowspan="2" valign="bottom" background="templates/softair/images/header_09.jpg"><img src="themes/softair/images/blank.gif" width="1" height="7" alt=""><table width="96%" height="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="27%" class="headertblbal">

                        <a href="{U_SEARCH}" class="mainmenu" rel="nofollow">KERES&#201;S</a> <br>
                        <a href="{U_PROFILE}" class="mainmenu" rel="nofollow">{L_PROFILE}</a><br>
                        <a href="airsoft/converter.php" class="mainmenu">Konverter</a><br>
			 <a href="http://www.6mm.hu" target="_blank" class="mainmenu"><!--<div style="color: #FFA34F;"> -->Cikkek<!--.6mm</div>--></a> 
 </td>
                    <td class="headertblbal" width="34%">
                        <a href="{U_PRIVATEMSGS}" class="mainmenu" rel="nofollow">{PRIVATE_MESSAGE_INFO}</a><br>
                        <a href="{U_MEMBERLIST}" class="mainmenu" rel="nofollow">{L_MEMBERLIST}</a><br>
                        <a href="http://www.softair.hu/ucp.php?i=167" class="mainmenu" rel="nofollow">{L_USERGROUPS}</a><br>
                                                <a href="{U_FAQ}" class="mainmenu" rel="nofollow">{L_FAQ}</a> </td>
                    <td class="headertbljobb" width="39%"> <a href="airsoft/szabalyzat.html" class="mainmenu">MASZ 2010</a><br>
                        <a href="softair/softair.html" class="mainmenu" >F&oacute;rumszab&aacute;lyok</a><br>
                        <a href="http://webmail.uniweb.hu/src/login.php" target="_blank" class="mainmenu" rel="nofollow">Webmail</a><br>
						<a href="calendar.php" class="mainmenu" rel="nofollow">J&#193;T&#201;K NAPT&#193;R</a>
                        <!-- BEGIN switch_user_logged_out -->
                        <a href="{U_REGISTER}" class="mainmenu" rel="nofollow">{L_REGISTER}</a><br>
                        <!-- END switch_user_logged_out --></td>
                  </tr>
                </table></td>
                <td>
                        <img src="templates/softair/images/blank.gif" width="1" height="39" alt=""></td>
        </tr>
        <tr>
                <td>
                        <a href="../"><img src="templates/softair/images/header_10.jpg" alt="" width="222" height="30" border="0"></a></td>
                <td>
                        <img src="templates/softair/images/blank.gif" width="1" height="30" alt=""></td>
        </tr>
        <tr>
                <td>
                        <img src="templates/softair/images/header_11.jpg" width="109" height="16" alt=""></td>
                <td>
                        <img src="templates/softair/images/header_12.jpg" width="222" height="16" alt=""></td>
                <td>
                        <img src="templates/softair/images/header_13.jpg" width="225" height="16" alt=""></td>
                <td>
                        <img src="templates/softair/images/header_14.jpg" width="243" height="16" alt=""></td>
                <td>
                        <img src="templates/softair/images/blank.gif" width="1" height="16" alt=""></td>
        </tr>
</table>	<!-- </div> -->

	<div id="menubar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="genmed">
				<!-- IF not S_IS_BOT --><a href="{U_LOGIN_LOGOUT}"> {L_LOGIN_LOGOUT}</a>&nbsp;<!-- ENDIF -->
				<!-- IF U_RESTORE_PERMISSIONS --> &nbsp;<a href="{U_RESTORE_PERMISSIONS}"> {L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
				<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN --> &nbsp;<span style="color: red;">{L_BOARD_DISABLED}</span><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_USER_LOGGED_IN -->
						<!-- IF S_DISPLAY_PM --> &nbsp;<a href="{U_PRIVATEMSGS}"> {PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a><!-- ENDIF -->
					<!-- ELSEIF S_REGISTER_ENABLED --> &nbsp;<a href="{U_REGISTER}"> {L_REGISTER}</a>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</td>
			
		</tr>
		</table>
	</div>

	<div id="datebar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>
			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME}<br /></td>
		</tr>
		</table>
	</div>

</div>

<div id="wrapcentre">

	<!-- IF S_DISPLAY_SEARCH -->
	<p class="searchbar">
		<span style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> | <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></span>
		<!-- IF S_USER_LOGGED_IN -->
		<span style="float: {S_CONTENT_FLOW_END};"><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> | <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></span>
		<!-- ENDIF -->
	</p>
	<!-- ENDIF -->

	<br style="clear: both;" />

	<!-- INCLUDE breadcrumbs.html -->
<!-- INCLUDE easy_resizer.html -->
	<br />

