<br>
		<form method="POST" action="#jelen_button_press">
		<input type="hidden" name="JSZ" value="30">
		<table width="100%" >
		<tr>
			<td ALIGN="CENTER">
				<table class="tablebg" cellspacing="1" >
				<tr>
					<th class="thHead" colspan="4">Jelentkez&#233;si &#369;rlap</th>
				</tr>
				<!-- IF STATUS eq 1 -->	
				<tr>
					<td class="row1" align="center" colspan="4">
						<span class="gen">
							<b>M&#193;R JELENTKEZT&#201;L!</b>
						</span>
					</td>
				</tr>
				<!-- ENDIF -->
				<tr>
					<td class="row1">
						<span class="gen">
							<b>F&#337;fegyver</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
					   <input type="text" name="WEAP_M" size="30" maxlength="30" class="post" value="{WEAP_M}" />
					   <b> FPS:</b>
					   <input type="text" name="FPS_M" size="3" maxlength="3" class="post" value="{FPS_M}" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>M&#225;sodfegyver</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
					    <input type="text" name="WEAP_S" size="30" maxlength="30" class="post" value="{WEAP_S}" />
					   	<b> FPS:</b>
						<input type="text" name="FPS_S" size="3" maxlength="3" class="post" value="{FPS_S}" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>Fuvar</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed">
							<select name="TRANSPORT">
								<!-- IF TRANSPORT eq 0 -->
									<option value ="0" selected="selected">
								<!-- ELSE -->
									<option value ="0" >
								<!-- ENDIF -->Fuvar Nem kell</option>
								<!-- IF TRANSPORT eq 1 -->
									<option value ="1" selected="selected">
								<!-- ELSE -->
									<option value ="1" >
								<!-- ENDIF -->Fuvar kell!</option>
								<!-- IF TRANSPORT eq 2 -->
									<option value ="2" selected="selected">
								<!-- ELSE -->
									<option value ="2" >
								<!-- ENDIF -->Fuvart adok</option>
							</select>
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>Innen</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed" >
		<input type="text" name="TFROM" size="30" maxlength="30" class="post" value="{TFROM}" />
		 - <input type="text" name="TCAP" size="2" maxlength="2" class="post" value="{TCAP}" /> f&#337;
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>Csapat (ha van)</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed" >
		<input type="text" name="TEAM" size="15" maxlength="15" class="post" value="{TEAM}" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1" >
						<span class="gen">
							<b>Plusz emberek: </b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed">
		<input type="text" name="EXTRA_PL" size="2" maxlength="2" class="post" value="{EXTRA_PL}" /> f&#337;
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>Megjegyz&#233;s</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed">
		<input type="text" name="REMARK" size="41" maxlength="41" class="post" value="{REMARK}" />
						</span>
					</td>
				</tr>
				<tr>
					<td class="row1">
						<span class="gen">
							<b>Oldal</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed">
							<select name="SIDE">
								<!-- BEGIN sides_select -->
									<option value="{sides_select.SIDE_ID}" {sides_select.SIDE_SEL}>{sides_select.SIDE}</option>
								<!-- END sides_select -->
							</select>
						</span>
					</td>
				</tr>
				<tr >
					<td class="row1" align="center" colspan="4">
					<!-- IF STATUS eq 0 -->
					<input type="hidden" name="STATUS" value="1">
					<input type="submit" name="submit" value="JELENTKEZEM!" class="liteoption" {LEZARAS}  />
					<!-- ELSE -->
					<input type="hidden" name="STATUS" value="0">
					<input type="submit" name="submit" value="Adatok friss&#237;t&#233;se" class="liteoption" {LEZARAS}  />
					<input type="submit" name="submit" value="M&#201;GSEM MEGYEK!" class="liteoption" {LEZARAS}  />
					<!-- ENDIF -->
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
		</form>
