	<br>	
	<table class="tablebg" cellspacing="1" width="100%">
		<tr>
			<th class="thHead" colspan="2">J&#225;t&#233;kszervez&#233;si &#369;rlap</th>
		</tr>
		<tr VALIGN="TOP">
			<td class="row1" width="50%">
				<table class="tablebg" cellspacing="0" width="100%">
					<form method="POST" action="#kiir_button_press">
					<input type="hidden" name="JSZ" value="10">
					<tr>
						<th class="thHead" colspan="4">T&#246;rzsadatok</th>
					</tr>
					<tr>
						<td class="row1" >
							<span class="gen"><b>Kezd&#246; D&#225;tum</b></span>
						</td>
						<td class="row2">
							<span class="genmed">
								<input type="text" name="GAMEDATE" size="10" maxlength="10" class="post" value="{GAMEDATE}" />
							</span>
						</td>
						<td class="row1" >
							<span class="gen"><b>Vég D&#225;tum</b></span>
						</td>
						<td class="row2">
							<span class="genmed">
								<input type="text" name="GAMEENDDATE" size="10" maxlength="10" class="post" value="{GAMEENDDATE}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Beugr&#243;</b></span>
						</td>
						<td class="row2">
							<span class="genmed">
								<input type="text" name="FEE" size="5" maxlength="5" class="post" value="{FEE}" /> Ft
							</span>
						</td>
					</tr>
					<tr>
					<td class="row1">
						<span class="gen">
							<b>Helysz&#237;n</b>
						</span>
					</td>
					<td class="row2" colspan="3">
						<span class="genmed">
							<input type="text" name="BATTLEFIELD" size="40" maxlength="50" class="post" value="{BATTLEFIELD}" />
						</span>
					</td>
					<tr>
						<td class="row1">
							<span class="gen"><b>Szervez&#337;</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="SZERVEZO" size="40" maxlength="50" class="post" value="{SZERVEZO}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>El&#233;rhet&#337;s&#233;g</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="KONTAKT" size="40" maxlength="100" class="post" value="{KONTAKT}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Minimum</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="MINIMUM" size="3" maxlength="3" class="post" value="{MINIMUM}" /> f&#337;
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Kapu nyit&#225;s</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="GATEOPEN" size="20" maxlength="20" class="post" value="{GATEOPEN}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Kezd&#233;s</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="GAMESTART" size="20" maxlength="20" class="post" value="{GAMESTART}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Kapu z&#225;r&#225;s</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="GAMEEND" size="20" maxlength="20" class="post" value="{GAMEEND}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Szab&#225;lyrendszer</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="RULES" size="40" maxlength="100" class="post" value="{RULES}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>K&#246;telez&#337;</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="KOTELEZO" size="40" maxlength="200" class="post" value="{KOTELEZO}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>Aj&#225;nlott</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="AJANLOTT" size="40" maxlength="200" class="post" value="{AJANLOTT}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>F&#337;c&#237;m k&#233;p</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="IMAGELINK" size="40" maxlength="100" class="post" value="{IMAGELINK}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen"><b>T&#233;rk&#233;p</b></span>
						</td>
						<td class="row2" colspan="3">
							<span class="genmed">
								<input type="text" name="MAPLINK" size="40" maxlength="100" class="post" value="{MAPLINK}" />
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1" colspan="4" align="center">
							<span class="gen"><b>&#252;res d&#225;tum = ki&#237;r&#225;s t&#246;rl&#233;se</b></span>
						</td>
					</tr>
					<tr>
						<td class="row1" align="center" colspan="4">
							<input type="submit" name="submit" value="T&#246;rzsadatok ment&#233;se" class="liteoption" />
						</td>
					</tr>
					</form>
				</table>
			</td>
			<td class="row2" ROWSPAN=2 width="50%">
				<table class="tablebg" cellspacing="0" width="100%">
					<form method="POST" action="#kiir_button_press"">
					<input type="hidden" name="JSZ" class="post" value="12">
					<tr>
						<th class="thHead" colspan="4">Oldalak m&#243;dos&#237;t&#225;sa (&#252;res=t&#246;rl&#233;s, 0=NJ)</th>
					</tr>
					<!-- BEGIN sides_option -->
					<tr>
						<td class="row1">
							<span class="gen">N&#233;v</span>
						</td>
						<td class="row2">
							<span class="genmed">
		<input type="text" name="{sides_option.MODSIDE_NM}" size="30" maxlength="30" class="post" value="{sides_option.MODSIDE}" />
		<input type="hidden" name="{sides_option.MODSIDE_ID_NM}" class="post" value="{sides_option.MODSIDE_ID}">
							</span>
						</td>
						<td class="row1">
							<span class="gen">L&#233;tsz&#225;m</span>
						</td>
						<td class="row2">
							<span class="genmed">
		<input type="text" name="{sides_option.MODSIDE_NR_NM}" size="3" maxlength="3" class="post" value="{sides_option.MODSIDE_NR}" /> f&#337;
							</span>
						</td>
					</tr>
					<!-- END sides_option -->
					<tr >
						<td class="row1" align="center" colspan="4">
		<input type="submit" name="submit" value="Oldal M&#243;dos&#237;t&#225;sok ment&#233;se" class="liteoption" />
						</td>
					</tr>
					</form>
				</table>
			</td>
		</tr>
		<tr VALIGN="TOP">
			<td class="row1" width="50%">
				<table class="tablebg" cellspacing="0" width="100%">
					<form method="POST" action="#kiir_button_press">
					<input type="hidden" name="JSZ" value="11">
					<tr>
						<th class="thHead" colspan="4">&#218;j oldal hozz&#225;ad&#225;sa</th>
					</tr>
					<tr>
						<td class="row1">
							<span class="gen">N&#233;v</span>
						</td>
						<td class="row2">
							<span class="genmed">
								<input type="text" name="NEWSIDE" size="30" maxlength="30" class="post" value="{NEWSIDE}" />
							</span>
						</td>
						<td class="row1">
							<span class="gen">L&#233;tsz&#225;m</span>
						</td>
						<td class="row2">
							<span class="genmed">
								<input type="text" name="NEWSIDE_NR" size="3" maxlength="3" class="post" value="0" /> f&#337;
							</span>
						</td>
					</tr>
					<tr>
						<td class="row1" align="center" colspan="4">
							<input type="submit" name="submit" value="Oldal Hozz&#225;ad&#225;sa" class="liteoption" />
						</td>
					</tr>
					</form>
				</table>
			</td>
		</tr>
	</table>