<form method="POST" action="#admin_button_press">
		<input type="hidden" name="JSZ" value="20">	
    <!-- INCLUDE viewtopic_jelentkezok.html -->
		<table width="100%" >
		<tr>
			<td ALIGN="CENTER">
				<table class="tablebg" cellspacing="1" >
				<tr align="center">
					<th class="thHead" colspan="4">J&#225;t&#233;kszervez&#233;si adminisztr&#225;cio</th>
				</tr>
				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek adott oldalra helyez&#233;se</b>
						</span>
					</td>
					<td class="row2" colspan=3>
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="1">
							<select name="K_SIDE">
								<!-- BEGIN sides_select -->
									<option value="{sides_select.SIDE_ID}">{sides_select.SIDE}</option>
								<!-- END sides_select -->
							</select>
						</span>
					</td>
				</tr>

				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek adott rajba (&#252;res mez&#337; = t&#246;rl&#233;s rajb&#243;l)</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="2">
							<input type="text" name="K_PLATOON" maxlength="30" size="30" class="post">
						</span>
					</td>
				</tr>

				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek t&#246;rl&#233;se</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="3">
						</span>
					</td>
				</tr>
				
				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek jelentkez&#233;s&#233;nek elfogad&#225;sa</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="4">
						</span>
					</td>
				</tr>
				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek jelentkez&#233;s&#233;nek elutas&#237;t&#225;sa</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="5">
						</span>
					</td>
				</tr>
				<!-- BEGIN locksides_option -->
				<tr>
					<td class="row2">
						<span class="gen">
							<b>{locksides_option.LOCKSIDE_NAME} Oldal jelentkezhet&#337;</b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="hidden" name="{locksides_option.LOCKSIDE_HIDE_NM}" class="post" value="{locksides_option.LOCKSIDE_ID}">
							<!-- IF locksides_option.LOCKSIDE_STAT eq 'Y' -->
								<input type="checkbox" name="{locksides_option.LOCKSIDE_STAT_NM}" value="{locksides_option.LOCKSIDE_ID}" Checked>
							<!-- ELSE -->
								<input type="checkbox" name="{locksides_option.LOCKSIDE_STAT_NM}" value="{locksides_option.LOCKSIDE_ID}">
							<!-- ENDIF -->
						</span>
					</td>
				</tr>
				<!-- END locksides_option -->
				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek fekete list&#225;ra ez&#233;rt: </b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="6">
							<input type="text" name="K_FEKETEREMARK" maxlength="30" size="30" class="post">
						</span>
					</td>
				</tr>
				<tr>
					<td class="row2">
						<span class="gen">
							<b>Kijel&#246;ltek feh&#233;r list&#225;ra ez&#233;rt: </b>
						</span>
					</td>
					<td class="row2">
						<span class="genmed">
							<input type="radio" name="KONTROLL" value="7">
							<input type="text" name="K_FEHERREMARK" maxlength="30" size="30" class="post">
						</span>
					</td>
				</tr>
				<tr>
					<td class="row2" align="center" colspan="4">
						<span class="genmed">
							<a href="{PRINT_PLAYER_LIST}"> NYOMTATHAT&#211; J&#193;T&#201;KOSLISTA </a>
						</span>
					</td>
				</tr>
				<tr >
					<td class="row2" align="center" colspan="4">
					<input type="submit" name="submit" value="Adminisztr&#225;ci&#243;s be&#225;ll&#237;t&#225;sok ment&#233;se" class="button2" {DISABLED}  />
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
		</form>