<br>
	<!-- IF SIDEIDS neq 0 -->
	<table class="tablebg" cellspacing="1" width="100%">
	<tr> 
		<th class="thHead"><span class="gen">J&#193;T&#201;KRA JELENTKEZ&#336;K</span></th>
	</tr>

	<tr><td><table>
	<!-- BEGIN player_list -->
		<!-- IF player_list.SIDE_CH eq 'UJOLDAL' -->
		</table></td></tr><tr><td>
		<table cellspacing="0" width="100%">
		<tr> 
			<th class="thHead" >
				<!-- IF player_list.REMARK eq 'N' --> -= LEZ&#193;RVA! =- <!-- ENDIF -->			
				{player_list.USERNAME} - {player_list.EXTRA_PL} f&#337;
				<!-- IF player_list.TCAP neq 9999 --> (Max {player_list.TCAP} f&#337) <!-- ENDIF --> 
				<!-- IF player_list.REMARK eq 'N' --> -= LEZ&#193;RVA! =- <!-- ENDIF --> 
			</th>
		</tr>
		<!-- ELSE -->
		<!-- IF player_list.PLATOON_CH eq 'Y' -->
		<tr>
			<td class="row2"><b> - {player_list.PLATOON} raj <b></td>
		</tr>
		<!-- ENDIF -->
		<tr> 
			<td class="row1">
				<!-- IF (S_USERNAME eq TOPIC_AUTHOR) or (S_USERNAME eq 'Operator') -->
					<input type="checkbox" name="SEL_USER_{player_list.USER_ROWNM}" value="{player_list.USERID}">
				<!-- ENDIF -->
		
				<!-- IF player_list.SIGNUP_ID > player_list.LIMIT -->
					<img src="images/REG_R.gif" width="12" height="12" alt=""/>
				<!-- ELSE -->
					<!-- IF player_list.REG_ACCEPT eq 'Y' --> 
						<img src="images/REG_G.gif" width="12" height="12" alt=""/>
					<!-- ELSE -->
						<img src="images/REG_Y.gif" width="12" height="12" alt=""/>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<span class="gen"><b><a href="{player_list.USERLINK}" size="+2"> {player_list.USERNAME}</a></b></span>
				<!-- IF player_list.TEAM neq '' --> ({player_list.TEAM})<!-- ENDIF -->
				<!-- IF player_list.PLATOON eq '' --> 
					<!-- IF RAJOK gt 0 -->
						<i>, NINCS RAJ!</i>
					<!-- ENDIF -->
				<!-- ENDIF -->
				, Fegyver:
				<!-- IF player_list.WEAPM neq '' -->{player_list.WEAPM} - {player_list.FPSM} FPS
				<!-- ELSE --> Nincs megadva
				<!-- ENDIF -->
				<!-- IF player_list.WEAPS neq '' -->, {player_list.WEAPS} - {player_list.FPSS} FPS<!-- ENDIF -->				
				<b> <!-- IF player_list.TCAP gt 0 -->
						<!-- IF player_list.TRANSPORT eq 1 -->, Fuvar kell innen: {player_list.TFROM}, {player_list.TCAP} f&#337<!-- ENDIF -->
						<!-- IF player_list.TRANSPORT eq 2 -->, Fuvart adnok innen: {player_list.TFROM}, {player_list.TCAP} f&#337<!-- ENDIF --> 
					<!-- ENDIF -->
				</b>
				<!-- IF player_list.EXTRA_PL > 0 -->, +{player_list.EXTRA_PL} j&#225;t&#233;kos<!-- ENDIF -->
				<!-- IF player_list.REMARK neq '' -->, {player_list.REMARK}<!-- ENDIF -->
			</td>
		</tr>
		<!-- ENDIF -->
	<!-- END player_list -->
		</table>
	</tr>
	</table>
	<!-- ENDIF -->