/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #FFFFCC;
	background-color: #000000;
}

h1 {
	color: #CC9900;
}

h2 {
	color: #FFFFCC;
}

h3 {
	border-bottom-color: #323232;
	color: #FFFFCC;
}

hr {
	border-color: #252525;
	border-top-color: #212121;
}

hr.dashed {
	border-top-color: #CC9900;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFCC;
}

#search-box #keywords {
	background-color: #000000;
}

#search-box input {
	border-color: #DFB300;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background-color: #424242;
	background-image: url("{T_THEME_PATH}/images/bg_header.gif");
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}

.navbar {
	background-color: #313131;
}

.forabg {
	background-color: #303030;
	background-image: url("{T_THEME_PATH}/images/bg_list.gif");
}

.forumbg {
	background-color: #404040;
	background-image: url("{T_THEME_PATH}/images/bg_header.gif");
}

.panel {
	background-color: #131313;
	color: #FFFFCC;
}

.post:target .content {
	color: #FFFFCC;
}

.post:target h3 a {
	color: #FFFFCC;
}

.bg1	{ background-color: #141414; }
.bg2	{ background-color: #191919;  }
.bg3	{ background-color: #141414; }

.ucprowbg {
	background-color: #202020;
}

.fieldsbg {
	background-color: #505050;
}

span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #040404;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFCC;
}

/*changed*/
table.table1 tbody tr {
	border-color: #252525;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #242424;
	color: #DDDDAA;
}

table.table1 td {
	color: #DDDDAA;
}

table.table1 tbody td {
	border-top-color: #090909;
}

table.table1 tbody th {
	border-bottom-color: #414141;
	color: #DDDDAA;
	background-color: #252525;
}

table.info tbody th {
	color: #FFFFCC;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #FFFFCC;
}

dl.details dd {
	color: #FFFFCC;
}

.sep {
	color: #FF99CC;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFCC;
	background-color: #565656;
	border-color: #202020;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	color: #CC9900;
	background-color: #212121;
	border-color: #616161;
}

.pagination span a:hover {
	border-color: #525252;
	background-color: #707070;
	color: #CCFF22;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.gif");
	font-weight: bold;
	text-decoration: none;
}

.row .pagination span a, li.pagination span a {
	background-color: #020202;
	font-weight: bold;
	text-decoration: none;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #111111;
	font-weight: bold;
	text-decoration: none;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #313131;
	color: #FFFFCC;
}

p.rules {
	background-color: #313131;
	color: #FFFFCC;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #CC9900; }
a:visited	{ color: #CC9900; }
a:hover	{ color: #FFFFCC; }
a:active	{ color: #EEFF11; }

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #CC9900;
	font-weight: bold;
	text-decoration: none;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #CC9900;
	font-weight: bold;
	text-decoration: none;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #CC9900;
	font-weight: bold;
	text-decoration: none;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #CC9900;
	font-weight: bold;
	text-decoration: none;
}

/* a.forumtitle:visited { color: #EEFF11; } */

a.forumtitle:hover {
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}

a.forumtitle:active {
	color: #EEFF11;
	font-weight: bold;
	text-decoration: none;
}

a.topictitle {
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}

/* a.topictitle:visited { color: #EEFF11; } */

a.topictitle:hover {
	color: #FFFFDD;
	font-weight: bold;
	text-decoration: none;
}

a.topictitle:active {
	color: #EEFF11;
	font-weight: bold;
	text-decoration: none;
}

/* Post body links */
.postlink {
	color: #FFFFCC;
	border-bottom-color: #303030;
	font-weight: bold;
	text-decoration: none;
}

.postlink:visited {
	color: #5D8FBD;
	border-bottom-color: #666666;
	font-weight: bold;
	text-decoration: none;
}

.postlink:active {
	color: #368AD2;
	font-weight: bold;
	text-decoration: none;
}

.postlink:hover {
	background-color: #DFB300;
	color: #0D4473;
	font-weight: bold;
	text-decoration: none;
}

.signature a, .signature a:visited, .signature a:active, .signature a:hover {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a {
	color: #FFFFCC;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #FFCC00;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #105289;
}

.search .postprofile a:hover {
	color: #FFCC00;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #368AD2;
}

a.right:hover {
	color: #368AD2;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #181818;
	background-image: url("{T_THEME_PATH}/images/gradient.gif");
}

ul.topiclist li {
	color: #FFFFCC;
}

ul.topiclist dd {
	border-left-color: #252525;
}

.rtl ul.topiclist dd {
	border-right-color: #252525;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	border-top-color:  #252525;
	border-bottom-color: #040404;
}

li.row strong {
	color: #FFFFCC;
}

li.row:hover {
	background-color: #454545;
}

li.row:hover dd {
	border-left-color: #252525;
}

.rtl li.row:hover dd {
	border-right-color: #424242;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333333;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #FFFFCC;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #FFFFCC;
}

.content h2, .panel h2 {
	color: #FFFFCC;
	border-bottom-color:  #222222;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
	border-left-color: #424242;
	border-right-color: #424242;
}

/* Post signature */
.signature {
	border-top-color: #323232;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #313131;
	background-image: url("{T_THEME_PATH}/images/quote.gif");
	border-color:#B38E00;
	border-style: dashed;

}

blockquote blockquote {
	/* Nested quotes */
	background-color:#262626;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #222222;
}

/* Code block */
dl.codebox {
	background-color: #313131;
	border-color: #B38E00;
	border-style: dashed;
}

dl.codebox dt {
	border-bottom-color:  #555555;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFCC; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #666666; }
.syntaxhtml		{ color: #DDDDAA; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #353535;
	border-color:  #B38E00;
	border-style: dashed;
}

.pm-message .attachbox {
	background-color: #353535;
}

.attachbox dd {
	border-top-color: #555555;
}

.attachbox p {
	color: #FFFFCC;
}

.attachbox p.stats {
	color: #B38E00;
}

.attach-image img {
	border-color: #555555;
}

/* Inline image thumbnails */

dl.file dd {
	color: #DDDDAA;
}

dl.thumbnail img {
	border-color: #333333;
	background-color: #444444;
}

dl.thumbnail dd {
	color: #DDDDAA;
}

dl.thumbnail dt a:hover {
	background-color: #444444;
}

dl.thumbnail dt a:hover img {
	border-color: #333333;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #000000;
	color: #FFFFCC;
}

fieldset.polls dl.voted {
	color: #FFFFAA;
}

fieldset.polls dd div {
	color: #FFFFCC;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #8C7100;
	border-bottom-color: #000000;
	border-right-color: #000000;
}

.rtl .pollbar1 {
	border-left-color: #000000;
}

.pollbar2 {
	background-color: #B38E00;
	border-bottom-color: #000000;
	border-right-color: #000000;
}

.rtl .pollbar2 {
	border-left-color: #000000;
}

.pollbar3 {
	background-color: #B38E00;
	border-bottom-color: #000000;
	border-right-color: #000000;
}

.rtl .pollbar3 {
	border-left-color: #000000;
}

.pollbar4 {
	background-color: #B38E00;
	border-bottom-color: #000000;
	border-right-color: #000000;
}

.rtl .pollbar4 {
	border-left-color: #000000;
}

.pollbar5 {
	background-color: #B38E00;
	border-bottom-color: #000000;
	border-right-color: #000000;
}

.rtl .pollbar5 {
	border-left-color: #535353;00
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #DDDDAA;
	border-left-color: #FFFFFF;
}

.rtl .postprofile {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}

.pm .postprofile {
	border-left-color: #DDDDDD;
}

.rtl .pm .postprofile {
	border-right-color: #DDDDDD;
	border-left-color: transparent;
}

.postprofile strong {
	color: #EEEEBB;
}

.online {
	background-image: url("{T_IMAGESET_LANG_PATH}/icon_user_online.gif");
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.reply-icon span   { background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span      { background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span   { background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span   { background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span    { background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span   { background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.gif");
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.gif");
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.gif"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.gif"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.gif"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.gif"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.gif"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.gif"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.gif"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.gif"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #555555;
}

#cp-main .panel li.row {
	border-bottom-color: #353535;
	border-top-color: #505050;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}

#cp-main table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.gif");
}

#tabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.gif");
	color: #CC9900;
}

#tabs a:hover span {
	color: #FFFFCC;
}

#tabs .activetab a {
	border-bottom-color: #121212;
}

#tabs .activetab a span {
	color: #FFFFCC;
}

#tabs .activetab a:hover span {
	color: #FFFFDD;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #2C2407;
}

#minitabs li.activetab {
	background-color: #232323;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #FFFFAA;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #FFFFAA;
	background-color: #020202;
	background-image: url("{T_THEME_PATH}/images/bg_menu.gif");
}

#navigation a:hover {
	background-color: #121212;
	color: #FFFFCC;
}

#navigation #active-subsection a {
	color: #B08500;
	background-color: #232323;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #CC9900;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #B08500;
}

#cp-main .panel {
	background-color: #232323;
}

#cp-main .pm {
	background-color: #232323;
}

#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

/* Topicreview */
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

/* Friends list */
.cp-mini {
	background-color: #3C3000;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #999999 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #666666;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #555555;
}

pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
gallery label {
	background-color: #212121;
	border-color: #CCC;
}

gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #AA8800;
	background-color: #666666;
	border-style: solid;
}

label {
	color: #FFFFCC;
}

option.disabled-option {
	color: #FFFFCC;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #FFFFCC;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #FFFFCC;
}

fieldset.fields2 dl:hover dt label {
	color: #FFFFCC;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #252525;
}

/* Posting page styles
----------------------------------------*/

message-box textarea {
	color: #FFFFCC;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #252525; 
	border-color: #AA8800;
	border-style: solid;
	color: #FFFFCC;
}

.inputbox:hover {
	border-color: #DFB300;
	border-style: dotted;
}

.inputbox:focus {
	border-color: #DFB300;
	border-style: dashed;
	color: #FFFFCC;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #CC9900;
	background-color: #DFB300;
	background-image: url("{T_THEME_PATH}/images/bg_button.gif");
}

a.button1, input.button1 {
	border-color: #DFB300;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #DFB300;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #CC9900;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #DFB300;
	color: #FFFFCC;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.gif");
}

input.disabled {
   color: #666666;
}