	<br />
	<table class="tablebg" cellspacing="1" width="100%">
	<tr> 
		<th class="thHead" colspan="2"><span class="gen">A LISTA</span></th>
	</tr>
	<!-- BEGIN fal_list -->
	<tr>
		<td class="row2" width="100%">
			<span  class="gen" >{fal_list.USERNAME} - {fal_list.REMARK}</span>, {fal_list.ADD_DATE}, 
			J&#225;t&#233;k:{fal_list.TOPIC_TITLE},
			Felrakta:{fal_list.SENDER_NAME}
		</td>
		<!-- IF fal_list.SENDER_ID eq USERID -->
		<td class="row2" >
			<form method="POST" action="#admin_button_press">
				<input type="hidden" name="FAL1" value="{TOPIC_ID}" />			
				<input type="hidden" name="FAL2" value="{fal_list.LIST_ID}" />
				<input type="submit" name="submit" value="Visszavon" class="liteoption" />
			</form>
		</td>
		<!-- ENDIF -->
	</tr> 
	<!-- END fal_list -->
	</table>

